<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Foolain\Gt3\Model\ConfigInterface" type="Foolain\Gt3\Model\Config" />
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="Foolain\Gt3\Controller\Account\CreatePost" />
    <preference for="Magento\Customer\Controller\Account\LoginPost" type="Foolain\Gt3\Controller\Account\LoginPost" />
</config>
